/* Header */

header{
    flex: auto;
    padding: 30px 40px;
}

ul{
    padding-inline-start: 0px;
}

.navigation-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

button{
    color: #faebd7;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    padding: 8px 30px;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: 0.5s;
}

button:hover{
    color: #6f5d7d;
    font-size: 14px;
    transition: 0.5s;
}

.push{
    margin-left: auto;
}

.bold{
    font-family: urbane-rounded, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a88ebc;
}

/* Website */

body{
    background-color: #2d2533;
    margin: 0px;
    padding-bottom: 25px;
}

.text-box{
    top: 50%;
    bottom: 50%;
    position: absolute;
    transform: translate(0%,-50%);
    color: antiquewhite;
    padding-left: 70px;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.text-box-small{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 30px;
}

.text-box-refl{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 150px;
}

.refl-text{
    text-align: justify;
    font-size: 16px;
}

.refl-text-last{
    text-align: justify;
    font-size: 16px;
    padding-bottom: 60px;
}

.text-box-html{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    font-family: urbane-rounded, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    padding-top: 30px;
}

.typo-row{
    padding-top: 40px;
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    grid-row: 2;
}

.carp-row{
    padding-top: 40px;
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    grid-row: 2;
    padding-bottom: 40px;
}

.html-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    padding-top: 0px;
}

.caption{
    display: none;
    position: absolute;
    color: antiquewhite;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 250px;
}


.myIMG:hover + .caption{
    display: block;
}

.myIMG:hover{
    opacity: 0.1;
    transform: scale(1.10);
}

.myIMG{
    text-align: center;
    position: relative;
    transition: opacity .5s ease, transform .5s ease;
}

.myIMG-html:hover{
    transform: scale(1.05);
}

.myIMG-html{
    text-align: center;
    position: relative;
    transition: transform .5s ease;
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 100%;
    position: relative;
    padding-bottom: 70px;
}

.img-text-box{
    font-size: 12px;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    margin-bottom: 50px;
    align-content: center;
    justify-content: center;
}

.html-column{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 75%;
    padding-bottom: 70px;
}

.html-column-first{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 75%;
}

h1{
    margin: 0px;
    font-size: 70px;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2{
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin: 0px;
}

h3{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
}

p{
    margin: 0px;
    font-size: 12px;
}

.html-boxed{
    border-width: 2px;
    border-style: solid;
    border-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
}

.welcome-page{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/solen-feyissa-FJBjDpYBhig-unsplash.jpg);
}

.page{
    background-color: #2d2533;
}

/* Footer */

footer{
    background-color: #6f5d7d;
    text-align: center;
    vertical-align: middle;
    font-family: urbane-rounded, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: antiquewhite;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
}

footer p{
    font-size: 10px;
}