body{
    background-color: #2d2533;
}

header{
    flex: auto;
    padding: 30px 40px;
}

ul{
    padding-inline-start: 0px;
}


button{
    color: #faebd7;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    padding: 8px 30px;
    font-family: urbane-rounded, sans-serif;
    font-style: normal;
}

button:hover{
    color: #6f5d7d;
}

.navigation-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push{
    margin-left: auto;
}

.text-box{
    top: 50%;
    bottom: 50%;
    position: absolute;
    transform: translate(0%,-50%);
    color: antiquewhite;
    padding-left: 70px;
    font-family: urbane-rounded, sans-serif;
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

h1{
    margin: 0px;
    font-size: 70px;
}

p{
    margin: 0px;
    font-size: 12px;
}

